<!doctype html>
<html>
    <head>
        <title>Games Library</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="container w-50">
            <h1 class="mb-4"><%= category.title %></h1>
            <a
                href="/games/add?category=<%= category.title %>"
                class="btn btn-success"
                >Add Game</a
            >
            <a href="/categories/<%= category.id %>/edit" class="btn btn-info"
                >Edit Category</a
            >
            <form
                action="/categories/<%= category.id %>?_method=DELETE"
                method="post"
                class="d-inline"
                onsubmit="return confirm('Delete category?');"
            >
                <button type="submit" class="btn btn-danger">
                    Delete Category
                </button>
            </form>
            <a href="/" class="btn btn-secondary">Go Back</a>
            <% games.forEach(game => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><%= game.title %></h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%= category.title %> - <%= game.price %> $
                    </div>
                    <a href="/games/<%= game.id %>" class="btn btn-primary"
                        >View More</a
                    >
                </div>
            </div>
            <% }) %>
        </div>
    </body>
</html>
